<div id="dcLeft"><div id="menu">
    <ul class="top">
        <li><a href="{:url('show/show')}"><i class="home"></i><em>管理首页</em></a></li>
    </ul>
    {foreach $menu as $key=>$val}
    <ul>
        <li style="overflow: visible">
            <a href="{:url($val.node_url)}">
                <i></i>
                <em>{$val.node_name}</em>
            </a>
                {if isset($val.son)}
                {foreach $val.son as $k=>$v}
                <li><a href="{:url($v.node_url)}"><i></i><em>{$v.node_name}</em></a></li>
                {/foreach}
                {/if}
        </li>
    </ul>
    {/foreach}
</div></div>
