<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>DouPHP 管理中心 - 角色管理 </title>
    <meta name="Copyright" content="Douco Design." />
    <link href="__STATIC__/admin/css/public.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/global.js"></script>
</head>
<body>
<div id="dcWrap">
    {include file="public/header"}
    {include file="public/left"}
    <div id="dcMain">
        <div id="urHere">DouPHP 管理中心<b>></b><strong>权限管理</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="{:url('Node/add')}" class="actionBtn">添加权限</a>权限管理</h3>
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
            <tr>
                <th width="30" align="center">展开</th>
                <th align="left">权限名称</th>
                <th align="left">权限控制器</th>
                <th align="left">权限方法</th>
                <th align="left">权限url</th>
                <th align="left">是否菜单</th>
                <th align="center">操作</th>
            </tr>
            {foreach $nodeOrder as $k=>$v}
            <tr>
                <td align="center"><a href="javascript:void(0)" class="showPlus"></a></td>
                <td>{:str_repeat("　　",$v.level)}{$v.node_name}</td>
                <td>{$v.node_controller}</td>
                <td>{$v.node_action}</td>
                <td>{$v.node_url}</td>
                <td>
                    {if ($v.node_ismenu == 1)}
                    是
                    {else /}
                    否
                    {/if}
                </td>
                <td align="center"><a href="addmanager.html?rec=edit&id=1">编辑</a> | <a href="manager.html?rec=del&id=1">删除</a></td>
            </tr>
            {/foreach}
        </table>
    </div>
    </div>
    <div class="clear"></div>
    <div id="dcFooter">
        <div id="footer">
            <div class="line"></div>
            <ul>
                版权所有 © 2013-2015 漳州豆壳网络科技有限公司，并保留所有权利。
            </ul>
        </div>
    </div><!-- dcFooter 结束 -->
    <div class="clear"></div> </div>
</body>
</html>