<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>DouPHP 管理中心 - 商品类型管理 </title>
    <meta name="Copyright" content="Douco Design." />
    <link href="__STATIC__/admin/css/public.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/global.js"></script>
</head>
<body>
<div id="dcWrap">
    {include file="public/header"}
    {include file="public/left"}
    <div id="dcMain">
        <div id="urHere">DouPHP 管理中心<b>></b><strong>商品类型管理</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3>
            <a href="{:url('type/show')}" class="actionBtn">返回列表</a>
            <a href="{:url('attr/add',['type_id'=>$type.type_id])}" class="actionBtn">属性添加</a>
            商品类型管理
        </h3>
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
            <tr>
                <th width="30" align="center">属性编号</th>
                <th align="left">属性名称</th>
                <th align="left">所属类型</th>
                <th align="left">属性值录入方式</th>
                <th align="left">可选值列表</th>
                <th align="center">操作</th>
            </tr>
            {foreach $attr as $k=>$v}
            <tr>
                <td align="center">{$v.attr_id}</td>
                <td>{$v.attr_name}</td>
                <td>{$type.type_name}</td>
                <td>
                    {if $v.attr_input_type==1}
                    从列表中选择
                    {else}
                    手动录入
                    {/if}
                </td>
                <td>{$v.attr_select}</td>
                <td align="center"><a href="addmanager.html?rec=edit&id=1">编辑</a> | <a href="manager.html?rec=del&id=1">删除</a></td>
            </tr>
            {/foreach}
        </table>
    </div>
    </div>
    <div class="clear"></div>
    <div id="dcFooter">
        <div id="footer">
            <div class="line"></div>
            <ul>
                版权所有 © 2013-2015 漳州豆壳网络科技有限公司，并保留所有权利。
            </ul>
        </div>
    </div><!-- dcFooter 结束 -->
    <div class="clear"></div> </div>
</body>
</html>